{% block content %}
    <div id="add-experience">
        <hr>
        <h4 class="mb-4">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <div class="container">
            {% for skill in context.skills %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="skill-{{skill.id}}">
                    <label class="form-check-label" for="skill-{{skill.id}}">{{skill.name}}</label>
                </div>
            {% endfor %}
        </div>

        <div class="subheading mt-3 mb-3">Workflow</div>
        {% for workflow in context.workflows %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="skill-{{workflow.id}}">
                <label class="form-check-label" for="skill-{{workflow.id}}">{{workflow.name}}</label>
            </div>
        {% endfor %}
    </div>
{% endblock %}