{% block content %}
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            {% for education in context.education %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{education.institution}}</h3>
                        <div class="subheading mb-3">{{education.facility}}</div>
                        <div>{{education.module}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{education.study_period}}</span></div>
                </div>
            {% endfor %}

            <h2 class="mt-5 mb-5">Courses</h2>
            {% for course in context.course %}
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <div class="subheading mb-3">{{course.institution}} - {{course.facility}} - {{course.module}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{course.study_period}}</span></div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}