{% block content %}
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Junior Software Developer</h3>
                    <div class="subheading mb-3">GOWI</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">May 2021 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Trainee Software Developer</h3>
                    <div class="subheading mb-3">GOWI</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2020 - May 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Private professor of mathematics</h3>
                    <div class="subheading mb-3">Self-employed</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2017 - July 2020</span></div>
            </div>
        </div>
    </section>
{% endblock %}