{% block content %}
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                {{context.firstname}}
                <span class="text-primary">{{context.lastname}}</span>
            </h1>
            <div class="subheading mb-5">
                {{context.street}} · {{context.city}}, {{context.postcode}} · {{context.phone}} ·
                <a href="mailto:{{context.email}}">E-mail</a>
            </div>
            <p class="lead mb-5">
                {{context.bio}}
            </p>
            <div class="social-icons">
                <a class="social-icon" href="{{context.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="{{context.github}}"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
{% endblock %}