{% extends 'components/layouts/base.html' %}

{% block content %}
    <!-- Navigation -->
    {% with type=context.type %}
        {% include "components/navigation.html" %}
    {% endwith %}

    <div class="container-fluid p-3 mb-2">
        <button
            class="btn btn-primary"
            style="float: right;"
            type="button"
        >
            <a class="nav-link" href="{{ url_for('app_views.user_create') }}">
                <i class="fa-solid fa-plus"></i> add new
            </a>
        </button>

        </br></br><hr>
        
        <table class="table table-responsive">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Bio</th>
                    <th scope="col" colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in context.users %}
                    <tr>
                        <th scope="row">{{user.firstname}} {{user.lastname}}</th>
                        <td>{{user.bio}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success">
                                <a class="nav-link" href="{{ url_for('app_views.user_download', id = user.id) }}" target="_blank">
                                    <i class="fa-solid fa-file-arrow-down"></i>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success">
                                <a class="nav-link" href="{{ url_for('app_views.user_details', id = user.id) }}">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger">
                                <a class="nav-link" href="{{ url_for('app_views.user_edit', id = user.id) }}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </button>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('app_views.user_remove', id=user.id) }}">
                                <button 
                                    type="submit" 
                                    class="btn btn-outline-danger"
                                    onclick="return confirm('Are you sure you want to delete {{user.firstname}} {{user.lastname}}?')"
                                >
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}