{% extends 'components/layouts/base.html' %}

{% block content %}
    <!-- Navigation -->
    {% with type=context.type %}
        {% include "components/navigation.html" %}
    {% endwith %}

    <!-- General -->
    {% with context=context.user.general %}
        {% include "components/user/edit/general.html" %}
    {% endwith %}

    <!-- Experience -->
    {% with context=context.user.experience %}
        {% include "components/user/edit/experience.html" %}
    {% endwith %}

    <!-- Education -->
    {% with context=context.user.education %}
        {% include "components/user/edit/education.html" %}
    {% endwith %}

    <!-- Skills -->
    {% with context=context.user.skills %}
        {% include "components/user/edit/skills.html" %}
    {% endwith %}
    
{% endblock %}