{% extends 'components/layouts/base.html' %}

{% block content %}
    <div class="container-fluid p-0">
        <!-- Navigation -->
        {% with type=context.type %}
            {% include "components/navigation.html" %}
        {% endwith %}

        <!-- About -->
        {% with context=context.about %}
            {% include "components/user-about.html" %}
        {% endwith %}

        <hr class="m-0" />
        <!-- Experience -->
        {% include "components/user-experience.html" %}
        
        <hr class="m-0" />
        <!-- Education -->
        {% include "components/user-education.html" %}
        
        <hr class="m-0" />
        <!-- Skills -->
        {% with context=context.skills %}
            {% include "components/user-skills.html" %}
        {% endwith %}
    </div>
{% endblock %}