{% extends 'components/layouts/base.html' %}

{% block content %}
    <div class="container-fluid p-0">
        <!-- Navigation -->
        {% with type=context.type %}
            {% include "components/navigation.html" %}
        {% endwith %}

        <!-- General -->
        {% with context=context.general %}
            {% include "components/user/details/general.html" %}
        {% endwith %}

        <hr class="m-0" />
        <!-- Experience -->
        {% with context=context.experience %}
            {% include "components/user/details/experience.html" %}
        {% endwith %}
        
        <hr class="m-0" />
        <!-- Education -->
        {% with context=context.education %}
            {% include "components/user/details/education.html" %}
        {% endwith %}
        
        <hr class="m-0" />
        <!-- Skills -->
        {% with context=context.skills %}
            {% include "components/user/details/skills.html" %}
        {% endwith %}
    </div>
{% endblock %}