{% extends 'components/layouts/base.html' %}

{% block content %}
    <!-- Navigation -->
    {% with type=context.type %}
        {% include "components/navigation.html" %}
    {% endwith %}

    <div class="container-fluid p-0">
        <section class="resume-section">
            <div class="resume-section-content">
                <form method="POST" enctype="multipart/form-data">
                    <div class="container">
                        {% include "components/info-general.html" %}
                        {% include "components/info-education.html" %}
                        {% include "components/info-experience.html" %}
                        {% with context=context %}
                            {% include "components/info-skills.html" %}
                        {% endwith %}
                        <hr>
                        <button class="btn btn-primary flex-end" style="float: right;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}