{% block content %}
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Sara
                <span class="text-primary">Carević</span>
            </h1>
            <div class="subheading mb-5">
                Street · City, Postcode · Phone ·
                <a href="mailto:sarasakicarevic@gmail.com">E-mail</a>
            </div>
            <p class="lead mb-5">
                I am Python software developer experienced in Flask and Django frameworks. <br><br>
                Among the personal characteristics, I would single out responsible, persistent, analytical, communicative, flexible, team spirit and a positive attitude.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/sara-carevic-2a21aa199/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/ChuckySC"><i class="fab fa-github"></i></a>
                <!--<a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>-->
            </div>
        </div>
    </section>
{% endblock %}