{% block content %}
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                {% for skill in context.skills %}
                    <li class="list-inline-item">{{skill}}</li>
                {% endfor %}
            </ul>
            <div class="subheading mb-3">Workflows</div>
            <ul class="fa-ul mb-0">
                {% for workflow in context.workflows %}
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        {{workflow}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}