<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="ChuckySC" />
        <title>Curriculum Vitae</title>

        {% include "components/layouts/top-scripts.html" %}
    </head>
    <body id="page-top">
        <!-- Navigation -->
        {% include "components/navigation.html" %}

        <!-- Page Content-->
        {% block content %} {% endblock %}

        <!-- Footer -->
        {% include "components/layouts/footer.html" %}

        <!-- Bottom scripts -->
        {% include "components/layouts/bottom-scripts.html" %}
    </body>
</html>